.section
	@extends .padded
	& > .title
		@extends .txt-important
		font-size font-size-insane
		color color-theme
		
	.sub-section
		& > .title
			font-size font-size-huge
			color color-theme
		&:not(:last-child)
			padding-bottom 20px
	.list
		& > *
			background-color white
			box-shadow 0px 0px 1px 1px rgba(0, 0, 0, .1)
			& > .title, & > .body
				@extends .padded
			& > .title
				background-color color-bg
				border-bottom 1px solid darken(color-bg, 5%)
				font-size font-size-big
		& > *:not(:last-child)
			margin-bottom 20px
			