// Base colors
color-grey-darker = #7f8c8d
color-grey-dark = #95a5a6
color-grey = #bdc3c7
color-grey-light = #ecf0f1

color-blue-darker = #2c3e50
color-blue-dark = #34495e
color-blue = #2980b9
color-blue-light = #3498db

color-red = #e74c3c
color-red-dark = #c0392b

color-green = #16a085
color-green-dark = #27ae60

color-purple = #9b59b6
color-purple-dark = #8e44ad

color-orange = #d35400
color-orange-dark = #d35400

color-bg = color-grey-light

color-success = color-green
color-warning = color-orange
color-error = color-red

color-theme = color-orange

color-tooltip-bg = color-blue-dark
color-tooltip-font = color-bg

color-font = color-blue-dark
color-font-light = color-bg