btn-feedback(color)
	&:hover
		background-color rgba(color, 0.2)
	&:focus
		background-color rgba(color, 0.3)
	&:active
		background-color rgba(color, 0.4)
		
input-feedback(color)
	&:hover
		background-color rgba(color, 0.2)
	&:focus
		background-color rgba(color, 0.3)