font-size-enormous = 40px
font-size-insane = 30px
font-size-huge = 25px
font-size-big = 20px
font-size-medium = 16px
font-size = 14px
font-size-small = 12px
font-size-tiny = 10px

font-body = 'Roboto'

.h4
	font-size: font-size-big

.txt-important
	font-size font-size-medium
	font-weight bold
	text-transform uppercase

.txt-low
	color color-grey