.alert-wrap
	@extends .col
	z-index 1
	position fixed
	left 0px
	top 0px
	bottom 0px
	width 400px
	pointer-events none
	padding 20px
	box-sizing border-box
	
	& > *:not(:last-child)
		margin-bottom 20px
	
.alert
	@extends .row, .align.v
	z-index 2
	pointer-events all
	height 60px
	padding 0px 15px
	box-shadow 0px 0px 3px 3px rgba(0, 0, 0, 0.1)
	margin-top 20px
	opacity 0
	
	color color-font
	background-color color-bg
	
	transition 0.3s margin-top ease, 0.3s opacity ease
	
	.message
		margin-left 15px
	
	&.check
		color color-bg
		background-color color-success
	
	&.warning
		color color-bg
		background-color color-warning
	
	&.error
		color color-bg
		background-color color-error
	
	&.active
		margin-top 0px
		opacity 1
		
	&.removed
		margin-top -80px
		opacity 0