html, body
	@extends .fluid
	font-family font-body
	font-size font-size
	color color-font
	background-color color-bg
	
#container
	@extends .row, .fluid
	overflow hidden
	& > .body
		@extends .padded
		overflow auto
		flex 1
#content
	& > *
		opacity 0
		transform translateY(20px)
		transition 0.3s transform ease, 0.3s opacity ease