.navbar
	@extends .col
	min-width 400px
	max-width 400px
	
	background-color color-blue-darker
	color color-font-light
	
	& > *
		@extends .col, .padded
		.title
			@extend .h4
			margin-bottom 10px
		.body
			@extend .col
			
	.profile
		.body
			@extends .align.v
		.img
			width 300px
			height 300px
			background-size cover
			background-position center
			background-repeat no-repeat
			border-radius 50%
			margin-bottom 10px
	.contact-infos
		.info
			@extends .row, .align.v
			padding 10px
			cursor pointer
			
			btn-feedback(black)

			& > *:not(:last-child)
				margin-right 20px
	.contact-form
		margin-bottom 0px
		
		.btn
			margin-bottom 0px
	
	.copyright
		@extend .align.v