.tabs
	@extends .row
	align-items center
	justify-content center
	.tab
		@extends .col, .align
		margin 0px 20px
		padding 10px 20px
		color color-grey-dark
		transition color 0.3s ease
		position relative
		z-index 1
		overflow hidden
		cursor pointer
		font-weight bold
		font-size font-size-big
		text-decoration none
		
		.icon
			font-size font-size-enormous
		
		&:hover, &:focus
			color color-blue-dark
			
		&.current
			color #fff
			
			::after
				transform translate3d(0,0,0)
				background color-blue-darker
			
		::after
			position absolute
			top 0
			left 0
			z-index -1
			width 100%
			height 100%
			background color-grey
			content ''
			transition background-color 0.3s, transform 0.3s
			transition-timing-function ease, cubic-bezier(0.7,0,0.3,1)
			transform translate3d(0,100%,0) translate3d(0,-3px,0)