.timeline
	@extend .row
	margin 30px 0 0 0
	padding 0
	list-style none
	position relative
	
	.body
		.txt-low, .link
			font-weight bold
		.text
			font-weight normal
	
	.set
		@extends .row, .align.v
		justify-content flex-end
		color color-blue-dark
		position absolute
		width 100%
		
		.line
			height 1px
			background-color color-blue-dark
		
		.dates
			@extends .txt-low
			white-space nowrap
			
			> .start
				position absolute
				bottom 0px
				transform translateY(0.7em)
			> .end
				position absolute
				top 0px
				transform translateY(-0.7em)
				
		
		> .selector
			align-self stretch
			width 10px
			border-style solid
			border-color color-blue-dark
			border-top-width 1px
			border-bottom-width 1px
			border-right-width 0px
			border-left-width 0px
			position relative
			
			&.future
				border-top 0px
				&:after
					content ''
					position absolute
					bottom 100%
					height 20px
					width 1px
					background-image linear-gradient(transparent, color-blue-dark)
	
	.content
		position relative
		&:hover
			> .body
				opacity 1
				pointer-events all
		> .title
			@extends .h4, .padded-low
			text-transform uppercase
			cursor help
			position relative
			z-index 2
		> .body
			@extends .padded, .col
			opacity 0
			background white
			z-index 1
			position absolute
			top -50px
			bottom -50px
			pointer-events none
			width 30vw
			transition 0.3s opacity ease;
			box-shadow 0px 0px 1px 1px rgba(0, 0, 0, .1)
			align-items flex-start
			> *:not(:last-child)
				margin-bottom 20px
			.tags
				@extends .row
				width 100%
				white-space nowrap
				.tag
					@extends .row, .align.v
					font-weight normal
					padding 5px 10px
					background-color color-grey-light
					color color-blue-dark
					box-shadow 0px 0px 1px 1px rgba(0, 0, 0, .2)
					.icon
						margin-right 5px
					&:not(:last-child)
						margin-right 10px
			.text
				@extends .row, .align.v
				color color-blue-dark
				overflow hidden
				flex 1
	
	
	> .line
		@extends .col, .align.v
		margin 0px 40px
		position relative
		font-weight bold
		.part
			min-width 2px
			max-width 2px
			background color-grey
		.event
			@extends .row, .align
			color white
			position absolute
			width 50px
			height 50px			
			padding 0px 20px
			> .icon
				@extends .row, .align
				width 100%
				height 100%
				border-radius 50%
				background-color color-blue
				font-size 35px
				position relative
				cursor help
				z-index 2
			.body
				left 0
				padding-left calc(100% + 20px)
			.date, .label
				@extends .row, .align
				position absolute
				top 0px
				bottom 0px	
				white-space nowrap
				font-weight normal

			.date
				@extends .txt-low
				right calc(100% + 20px)
			.label
				color color-font
				left calc(100% + 20px)
				
			
	.left, .right
		position relative
		.set
			.content
				img
					width 150px
					height auto
		
	.left
		flex 1
		.set
			.dates
				> .start, > .end
					text-align right
					right 100%
					padding-right 10px
			
			> .selector
				border-left-width 1px
				&.future:after
					left -1px

			> .content
				> .body
					left 0
					padding-left calc(100% + 20px)
			.tags
				justify-content flex-end
		
	.right
		flex 2
		.set
			.dates
				> .start, > .end
					left 100%
					padding-left 10px
					
			> .selector
				border-right-width 1px
				&.future:after
					right -1px

			> .content
				border-left 1px solid color-blue-dark
				> .body
					right 0
					padding-right calc(100% + 20px)
			.tags
				justify-content flex-start