.tooltip-wrap
	position relative
	
	&:hover 
		.tooltip-content
			opacity: 1;
			pointer-events: auto;
			
			&.right
				transform translateX(0px);
	
	.tooltip-content
		z-index 10
		display block
		white-space nowrap
		pointer-events: none;
		position: absolute;
		opacity: 0;
		transition: all .3s ease;
		
		&:after
			border-width: 10px;
			border-style: solid;
			content: " ";
			position: absolute;
		

		color color-tooltip-font
		background: color-tooltip-bg;
		padding: 15px;
		box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
		
		&.right
			transform: translateX(10px);
			left 100%
			margin-left 15px
			&:after
				right 100%
				border-color transparent color-tooltip-bg transparent transparent
		&.bottom
			&:after
				border-color color-tooltip-bg transparent transparent transparent
				
		
		
		