<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Hi{% endblock %}</title>

	<link rel="stylesheet" type="text/css" href="{{ asset('css/bundle.css') }}">

	{% block head %}
		{{ head|raw }}
	{% endblock %}
	
</head>
<body>
	{% block body %}
	{% endblock %}

	{% block footer %}
	{% endblock %}

	<script type="text/javascript" src="/jsload/node_modules/spf/dist/spf-debug.js"></script>
	<script type="text/javascript" src='{{ asset('js/bundle.js') }}'></script>
	
	{% block script %}
	{% endblock %}

</body>
</html>