{% extends 'layout/base.twig' %}

{% block body %}
	<div id="container">
		<div class="alert-wrap"></div>
		<div class="navbar">
		    {% block navbar %}
		        {% include 'components/navbar.twig' %}
		    {% endblock %}
	    </div>
	    <div class="body">
	    	<div class="tabs">
		    	{% include 'components/navtabs.twig' %}
		    </div>

		    <div id="content">
			    {% block content %}
			    {% endblock %}
			</div>
	    </div>
    </div>
{% endblock %}

{% block head %}
    <script type="text/javascript">

    	window.kernel = JSON.parse('{{ _context|json_encode|raw }}');

	</script>
{% endblock %}