/* normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}
@media (min-width: 550px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}
p {
  margin-top: 0;
}
a {
  color: #1eaedb;
}
a:hover {
  color: #0fa0ce;
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 3em;
  padding: 0 30px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: none;
  box-sizing: border-box;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
}
code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
button,
.button {
  margin-bottom: 1rem;
}
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}
.inline {
  margin: 0px;
}
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}
.spiky {
  border-radius: 0px;
}
.rounded {
  border-radius: 4px;
}
.inline {
  margin: 0px;
}
.padded,
#container > .body,
.navbar > *,
.timeline .content > .body,
.section,
.section .list > * > .title,
.section .list > * > .body {
  padding: 20px;
}
.padded-low,
.timeline .content > .title {
  padding: 10px;
}
.h4,
.navbar > * .title,
.timeline .content > .title {
  font-size: 20px;
}
.txt-important,
.section > .title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.txt-low,
.timeline .set .dates,
.timeline > .line .event .date {
  color: #bdc3c7;
}
@font-face {
  font-family: 'Material-Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MaterialIcons-Regular.eot"); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url("../fonts/MaterialIcons-Regular.woff2") format('woff2'), url("../fonts/MaterialIcons-Regular.woff") format('woff'), url("../fonts/MaterialIcons-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: 300;
}
.icon {
  font-family: 'Material-Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
/* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
/* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
/* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
/* Support for IE. */
  font-feature-settings: 'liga';
}
.icon.18 {
  font-size: 18px;
}
.icon.24 {
  font-size: 24px;
}
.icon.36 {
  font-size: 36px;
}
.icon.48 {
  font-size: 48px;
}
.icon.dark {
  color: rgba(0,0,0,0.54);
}
.icon.dark.inactive {
  color: rgba(0,0,0,0.26);
}
.icon.light {
  color: #fff;
}
.icon.light.inactive {
  color: rgba(255,255,255,0.3);
}
.row,
.alert,
#container,
.navbar .contact-infos .info,
.tabs,
.timeline,
.timeline .set,
.timeline .content > .body .tags,
.timeline .content > .body .tags .tag,
.timeline .content > .body .text,
.timeline > .line .event,
.timeline > .line .event > .icon,
.timeline > .line .event .date,
.timeline > .line .event .label {
  display: flex;
}
.col,
.alert-wrap,
.navbar,
.navbar > *,
.navbar > * .body,
.tabs .tab,
.timeline .content > .body,
.timeline > .line {
  display: flex;
  flex-direction: column;
}
.fluid,
html,
body,
#container {
  width: 100%;
  height: 100%;
}
.fluid.v,
html.v,
body.v,
#container.v {
  width: auto;
}
.fluid.h,
html.h,
body.h,
#container.h {
  height: auto;
}
.align,
.media,
.tabs .tab,
.timeline > .line .event,
.timeline > .line .event > .icon,
.timeline > .line .event .date,
.timeline > .line .event .label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align.v,
.media.v,
.tabs .tab.v,
.timeline > .line .event.v,
.timeline > .line .event > .icon.v,
.timeline > .line .event .date.v,
.timeline > .line .event .label.v,
.alert,
.navbar .profile .body,
.navbar .contact-infos .info,
.navbar .copyright,
.timeline .set,
.timeline .content > .body .tags .tag,
.timeline .content > .body .text,
.timeline > .line {
  align-items: center;
  justify-content: initial;
}
.align.h,
.media.h,
.tabs .tab.h,
.timeline > .line .event.h,
.timeline > .line .event > .icon.h,
.timeline > .line .event .date.h,
.timeline > .line .event .label.h {
  align-items: initial;
  justify-content: center;
}
.fill {
  flex: 1;
}
.w1-3 {
  width: 33%;
}
.w2-5 {
  width: 40%;
}
.alert-wrap {
  z-index: 1;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 400px;
  pointer-events: none;
  padding: 20px;
  box-sizing: border-box;
}
.alert-wrap > *:not(:last-child) {
  margin-bottom: 20px;
}
.alert {
  z-index: 2;
  pointer-events: all;
  height: 60px;
  padding: 0px 15px;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
  margin-top: 20px;
  opacity: 0;
  color: #34495e;
  background-color: #ecf0f1;
  transition: 0.3s margin-top ease, 0.3s opacity ease;
}
.alert .message {
  margin-left: 15px;
}
.alert.check {
  color: #ecf0f1;
  background-color: #16a085;
}
.alert.warning {
  color: #ecf0f1;
  background-color: #d35400;
}
.alert.error {
  color: #ecf0f1;
  background-color: #e74c3c;
}
.alert.active {
  margin-top: 0px;
  opacity: 1;
}
.alert.removed {
  margin-top: -80px;
  opacity: 0;
}
html,
body {
  font-family: 'Roboto';
  font-size: 14px;
  color: #34495e;
  background-color: #ecf0f1;
}
#container {
  overflow: hidden;
}
#container > .body {
  overflow: auto;
  flex: 1;
}
#content > * {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.3s transform ease, 0.3s opacity ease;
}
.btn.primary {
  background-color: rgba(39,174,96,0.1);
}
.btn.primary:hover {
  background-color: rgba(39,174,96,0.2);
}
.btn.primary:focus {
  background-color: rgba(39,174,96,0.3);
}
.btn.primary:active {
  background-color: rgba(39,174,96,0.4);
}
.link {
  line-height: normal;
  text-decoration: none;
  color: #2980b9;
  border-bottom: 2px solid transparent;
}
.link:hover {
  color: #2980b9;
  border-bottom: 2px solid #2980b9;
}
.flat.dark {
  background-color: rgba(0,0,0,0.1);
  color: #fff;
}
.flat.dark:hover {
  background-color: rgba(0,0,0,0.2);
}
.flat.dark:focus {
  background-color: rgba(0,0,0,0.3);
}
.flat.light {
  background-color: rgba(255,255,255,0.1);
  color: #000;
}
.flat.light:hover {
  background-color: rgba(255,255,255,0.2);
}
.flat.light:focus {
  background-color: rgba(255,255,255,0.3);
}
textarea {
  max-width: 100%;
}
.media {
  overflow: hidden;
  margin-bottom: 10px;
}
.media:not(:last-child) {
  margin-right: 10px;
}
.navbar {
  min-width: 400px;
  max-width: 400px;
  background-color: #2c3e50;
  color: #ecf0f1;
}
.navbar > * .title {
  margin-bottom: 10px;
}
.navbar .profile .img {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-bottom: 10px;
}
.navbar .contact-infos .info {
  padding: 10px;
  cursor: pointer;
}
.navbar .contact-infos .info:hover {
  background-color: rgba(0,0,0,0.2);
}
.navbar .contact-infos .info:focus {
  background-color: rgba(0,0,0,0.3);
}
.navbar .contact-infos .info:active {
  background-color: rgba(0,0,0,0.4);
}
.navbar .contact-infos .info > *:not(:last-child) {
  margin-right: 20px;
}
.navbar .contact-form {
  margin-bottom: 0px;
}
.navbar .contact-form .btn {
  margin-bottom: 0px;
}
.tabs {
  align-items: center;
  justify-content: center;
}
.tabs .tab {
  margin: 0px 20px;
  padding: 10px 20px;
  color: #95a5a6;
  transition: color 0.3s ease;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
.tabs .tab .icon {
  font-size: 40px;
}
.tabs .tab:hover,
.tabs .tab:focus {
  color: #34495e;
}
.tabs .tab.current {
  color: #fff;
}
.tabs .tab.current ::after {
  transform: translate3d(0, 0, 0);
  background: #2c3e50;
}
.tabs .tab ::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #bdc3c7;
  content: '';
  transition: background-color 0.3s, transform 0.3s;
  transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
  transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
}
.timeline {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.timeline .body .txt-low,
.timeline .body .link {
  font-weight: bold;
}
.timeline .body .text {
  font-weight: normal;
}
.timeline .set {
  justify-content: flex-end;
  color: #34495e;
  position: absolute;
  width: 100%;
}
.timeline .set .line {
  height: 1px;
  background-color: #34495e;
}
.timeline .set .dates {
  white-space: nowrap;
}
.timeline .set .dates > .start {
  position: absolute;
  bottom: 0px;
  transform: translateY(0.7em);
}
.timeline .set .dates > .end {
  position: absolute;
  top: 0px;
  transform: translateY(-0.7em);
}
.timeline .set > .selector {
  align-self: stretch;
  width: 10px;
  border-style: solid;
  border-color: #34495e;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 0px;
  border-left-width: 0px;
  position: relative;
}
.timeline .set > .selector.future {
  border-top: 0px;
}
.timeline .set > .selector.future:after {
  content: '';
  position: absolute;
  bottom: 100%;
  height: 20px;
  width: 1px;
  background-image: linear-gradient(transparent, #34495e);
}
.timeline .content {
  position: relative;
}
.timeline .content:hover > .body {
  opacity: 1;
  pointer-events: all;
}
.timeline .content > .title {
  text-transform: uppercase;
  cursor: help;
  position: relative;
  z-index: 2;
}
.timeline .content > .body {
  opacity: 0;
  background: #fff;
  z-index: 1;
  position: absolute;
  top: -50px;
  bottom: -50px;
  pointer-events: none;
  width: 30vw;
  transition: 0.3s opacity ease;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
  align-items: flex-start;
}
.timeline .content > .body > *:not(:last-child) {
  margin-bottom: 20px;
}
.timeline .content > .body .tags {
  width: 100%;
  white-space: nowrap;
}
.timeline .content > .body .tags .tag {
  font-weight: normal;
  padding: 5px 10px;
  background-color: #ecf0f1;
  color: #34495e;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
}
.timeline .content > .body .tags .tag .icon {
  margin-right: 5px;
}
.timeline .content > .body .tags .tag:not(:last-child) {
  margin-right: 10px;
}
.timeline .content > .body .text {
  color: #34495e;
  overflow: hidden;
  flex: 1;
}
.timeline > .line {
  margin: 0px 40px;
  position: relative;
  font-weight: bold;
}
.timeline > .line .part {
  min-width: 2px;
  max-width: 2px;
  background: #bdc3c7;
}
.timeline > .line .event {
  color: #fff;
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 0px 20px;
}
.timeline > .line .event > .icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #2980b9;
  font-size: 35px;
  position: relative;
  cursor: help;
  z-index: 2;
}
.timeline > .line .event .body {
  left: 0;
  padding-left: calc(100% + 20px);
}
.timeline > .line .event .date,
.timeline > .line .event .label {
  position: absolute;
  top: 0px;
  bottom: 0px;
  white-space: nowrap;
  font-weight: normal;
}
.timeline > .line .event .date {
  right: calc(100% + 20px);
}
.timeline > .line .event .label {
  color: #34495e;
  left: calc(100% + 20px);
}
.timeline .left,
.timeline .right {
  position: relative;
}
.timeline .left .set .content img,
.timeline .right .set .content img {
  width: 150px;
  height: auto;
}
.timeline .left {
  flex: 1;
}
.timeline .left .set .dates > .start,
.timeline .left .set .dates > .end {
  text-align: right;
  right: 100%;
  padding-right: 10px;
}
.timeline .left .set > .selector {
  border-left-width: 1px;
}
.timeline .left .set > .selector.future:after {
  left: -1px;
}
.timeline .left .set > .content > .body {
  left: 0;
  padding-left: calc(100% + 20px);
}
.timeline .left .set .tags {
  justify-content: flex-end;
}
.timeline .right {
  flex: 2;
}
.timeline .right .set .dates > .start,
.timeline .right .set .dates > .end {
  left: 100%;
  padding-left: 10px;
}
.timeline .right .set > .selector {
  border-right-width: 1px;
}
.timeline .right .set > .selector.future:after {
  right: -1px;
}
.timeline .right .set > .content {
  border-left: 1px solid #34495e;
}
.timeline .right .set > .content > .body {
  right: 0;
  padding-right: calc(100% + 20px);
}
.timeline .right .set .tags {
  justify-content: flex-start;
}
.tooltip-wrap {
  position: relative;
}
.tooltip-wrap:hover .tooltip-content {
  opacity: 1;
  pointer-events: auto;
}
.tooltip-wrap:hover .tooltip-content.right {
  transform: translateX(0px);
}
.tooltip-wrap .tooltip-content {
  z-index: 10;
  display: block;
  white-space: nowrap;
  pointer-events: none;
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease;
  color: #ecf0f1;
  background: #34495e;
  padding: 15px;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
}
.tooltip-wrap .tooltip-content:after {
  border-width: 10px;
  border-style: solid;
  content: " ";
  position: absolute;
}
.tooltip-wrap .tooltip-content.right {
  transform: translateX(10px);
  left: 100%;
  margin-left: 15px;
}
.tooltip-wrap .tooltip-content.right:after {
  right: 100%;
  border-color: transparent #34495e transparent transparent;
}
.tooltip-wrap .tooltip-content.bottom:after {
  border-color: #34495e transparent transparent transparent;
}
.section > .title {
  font-size: 30px;
  color: #d35400;
}
.section .sub-section > .title {
  font-size: 25px;
  color: #d35400;
}
.section .sub-section:not(:last-child) {
  padding-bottom: 20px;
}
.section .list > * {
  background-color: #fff;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
}
.section .list > * > .title {
  background-color: #ecf0f1;
  border-bottom: 1px solid #dee5e7;
  font-size: 20px;
}
.section .list > *:not(:last-child) {
  margin-bottom: 20px;
}
/*# sourceMappingURL=bundle.css.map */