// Flex based grid
.row
	display flex

.col
	display flex
	flex-direction column

// Fluid container
.fluid
	width 100%
	height 100%
	&.v
		width auto
	&.h
		height auto

// Default flex centering
.align
	display	flex
	align-items center
	justify-content center
	&.v
		align-items center
		justify-content initial
	&.h
		align-items initial
		justify-content center

.fill
	flex 1

.w1-3
	width : 33%

.w2-5
	width : 40%