<h1>Yay projects page !</h1>

<div id="projects" class='section'>
	<div class='title'>Projects</div>

	<div class="list">
		<div class="project">
			<div class="title">
				Platoon of vehicule
				1st year project, 2013-2014
			</div>
			<div class="body">
				Realization of a Platoon of lego vehicle (Mindstorm robot) by developing artificial intelligences using Java and the Lejos library, with a Buetooth communication between the vehicles and the Java application.
			</div>
		</div>


		<div class="project">
			<div class="title">
				Web site
				2nd year project, 2014-2015
			</div>
			<div class="body">
				Realization of a Web site for an association. There was a window part (visible by everyone) and a management part (used by a member of the association). The CMS Wordpress was used to update the information of the site and the php was used to link the site with a MySQL database, that allowed actions for a connected user.
			</div>
		</div>
	</div>
</div>