<h1>Yay skills page !</h1>

<div id="skills" class='section'>
	<div class='title'>Skills</div>

	<div class="sub-section">
		<div class='title'>Computer skills</div>

		<div class="list">
			<div class="skill">
				<div class='title'>Programming language</div>
				<div class="body">
					Java, C, C++, C#, VB.NET, Python, Ruby
				</div>
			</div>

			<div class="skill">
				<div class='title'>Web technologies</div>
				<div class="body">
					HTML, CSS, Javascript, jQuey, AngularJS, BackBone
					PHP, Node.js, Express.js, REST Services
				</div>
			</div>

			<div class="skill">
				<div class='title'>Database</div>
				<div class="body">
					MySQL, Oracle, PostgreSQL, SQL Server, MongoDB
				</div>
			</div>

			<div class="skill">
				<div class="title">Operating systems</div>
				<div class="body">
					Windows (XP, Vista, 7, 8, 10), Linux (Ubuntu, Xubuntu)
				</div>
			</div>	

			<div class="skill">
				<div class='title'>Software</div>
				<div class="body">
					Office software (Microsoft Office, Open Office), OpenERP
					Eclipse, Visual Studio, Android Studio, Sublime Text 
				</div>
			</div>

			<div class="skill">
				<div class='title'>Spécification and Conception</div>
				<div class="body">
					UML (7 Diagrams), Agile method, B method
				</div>
			</div>
		</div>
	</div>

	<div class="sub-section">
		<div class='title'>General skills</div>

		<div class="list">
			<div class="skill">
				<div class='title'>Knowledge</div>
				<div class="body">
					Concepts of project and company mangement, economy and technical document writing
				</div>
			</div>

			<div class="skill">
				<div class='title'>Languages</div>
				<div class="body">
					English : Professionnal knowledge
					Spanish : Basic skills
				</div>
			</div>
		</div>
	</div>
</div>