<hr>
<h5>Here you can find some big steps of my life.</h5>
<hr>

<div class="timeline">
</div>

<script type="text/javascript">
	var t = new Timeline({
		data: {
			left: [
				{
					title: '<img src="{{ asset('/img/exia-logo.png') }}"></img>',
					body: 'Diplôme',
					more: '/coucou',
					subtitle: {
						company: 'CESI.Exia',
						location: 'Saint-Nazaire'
					},
					date: {
						start: '2015-09-01',
						end: '2018-07-01'
					}
				},
				{
					title: '<img src="{{ asset('/img/dut-logo.png') }}"></img>',
					body: 'Diplôme',
					more: '/coucou',
					subtitle: {
						company: 'Université de Nantes',
						location: 'Nantes',
					},
					date: {
						start: '2013-09-01',
						end: '2015-07-01'
					}
				}
			],
			right: [
				{
					title: '2nd Exia year, abroad internship',
					body: 'My mission was to make a one page application, with a public and a private part. The public part let a customer see and modify his data, and the private part have to help an administrator in data management. For example, one of my tasks was to fill a database from a Microsoft Excel file with web technologies. To do this, i had to upload the file to the web server of the application, then a PHP script read the file and save the data into a complex database. This function was very helpful for the company because before my application, they had to fill manually the database with an SQL query for each line of the file.',
					more: '/coucou',
					subtitle: {
						company: 'Adapti.me',
						loaction: 'Luxembourg',
					},
					date: {
						start: '2016-09-19',
						end: '2017-02-03'
					}
				},
				{
					title: '1st Exia year internship',
					body: 'My mission was to make a one page application, with a public and a private part. The public part let a customer see and modify his data, and the private part have to help an administrator in data management. For example, one of my tasks was to fill a database from a Microsoft Excel file with web technologies. To do this, i had to upload the file to the web server of the application, then a PHP script read the file and save the data into a complex database. This function was very helpful for the company because before my application, they had to fill manually the database with an SQL query for each line of the file.',
					more: '/coucou',
					subtitle: {
						company: 'KEOPS Automation',
						location: 'Nantes',
					},
					date: {
						start: '2016-02-15',
						end: '2016-05-13'
					}
				},
				{
					title: '2nd DUT year internship',
					body: 'My mission was to make a one page application, with a public and a private part. The public part let a customer see and modify his data, and the private part have to help an administrator in data management. For example, one of my tasks was to fill a database from a Microsoft Excel file with web technologies. To do this, i had to upload the file to the web server of the application, then a PHP script read the file and save the data into a complex database. This function was very helpful for the company because before my application, they had to fill manually the database with an SQL query for each line of the file.',
					more: '/coucou',
					subtitle: {
						company: 'KEOPS Automation',
						location: 'Nantes',
					},
					date: {
						start: '2015-04-06',
						end: '2015-06-20'
					}
				}
			],
			event: [
				{
					label: 'DUT Information',
					body: 'coucou',
					more: '/coucou',
					subtitle: {
						company: 'Université de Nantes',
						location: 'Nantes',
					},
					icon: 'school',
					date: {
						end: '2015-08-01'
					}
				},
				{
					label: 'BAC',
					body: 'coucou',
					more: '/coucou',
					subtitle: {
						company: 'Aristide Briand',
						location: 'Saint-Nazaire',
					},
					icon: 'school',
					date: {
						end: '2013-08-01'
					}
				}
			]
		}
	})
</script>