.icon {
  font-family: 'Material-Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.icon.18 { font-size: 18px; }
.icon.24 { font-size: 24px; }
.icon.36 { font-size: 36px; }
.icon.48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.icon.dark { color: rgba(0, 0, 0, 0.54); }
.icon.dark.inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.icon.light { color: rgba(255, 255, 255, 1); }
.icon.light.inactive { color: rgba(255, 255, 255, 0.3); }