.btn	
	&.primary
		background-color rgba(#27ae60, 0.1)
		btn-feedback(#27ae60)

.link
	line-height normal
	text-decoration none
	color color-blue
	border-bottom 2px solid transparent
	&:hover
		color color-blue
		border-bottom 2px solid color-blue