<div class="profile">
	<div class="body">
		<div class="img" style='background-image: url({{ asset('/img/profile.jpg') }})'></div>
		<div class="name txt-important">Jonas bouscharain</div>
	</div>
</div>

<div class="contact-infos">
	<div class='title'>Contact informations</div>
	<div class="body">
		<div class="phone info tooltip-wrap clipboard" clip-type='click'> 
			<div class="tooltip-content right">Click to copy !</div>

			<i class="icon">phone</i> 
			<div class="content clip-target">+336 05 27 99 08</div>
			<div class="fill"></div>
			<div class="icon">attach_file</div>
		</div>
		<div class="email info tooltip-wrap clipboard" clip-type='click'> 
			<div class="tooltip-content right">Click to copy !</div>

			<i class="icon">email</i> 
			<div class="content clip-target">jonas.bouscharain@hotmail.fr</div>
			<div class="fill"></div>
			<div class="icon">attach_file</div>
		</div>
	</div>
</div>

<div class="fill"></div>

<form class="contact-form">
	<div class='title'>Message me</div>
	<div class="body">
		<input type="email" name="email" placeholder='your@email.com' class='flat dark'>
		<textarea name='message' placeholder='Your message' class='flat dark'></textarea>
		<input type="submit" value='send'class='btn primary'>
	</div>
</form>

<div class="copyright">
	<div>© Copyright {{ "now"|date("Y") }} - Jonas Bouscharain</div> 
	<div>All rights reserved</div>
</div>