{% for tab in tabs %}
	{% block tab %}
		<a class="tab spf-link{% if route == tab.route %} current{% endif %}" href="{{ path_for(tab.route) }}" target='{{ tab.route }}'>
			<i class="icon">{{ tab.icon }}</i>
			<span>{{ tab.route|capitalize }}</span> 
		</a>
	{% endblock %}
{% endfor %}